**/node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
**/.git
.gitignore
.env.local
README.md
LICENSE
.vscode
*.swp
scripts/
**/android
**/ios
**/build
**/dist
**.env